/*---------------------------------------------------------------------*/
/* General Stylings */
/*---------------------------------------------------------------------*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

h1 {
  text-transform: uppercase;
  font-family: "Advent Pro", sans-serif;
}

h2 {
  border-bottom: 0.1rem solid dimgrey;
  padding: 0.2rem;
}

body {
  margin: 0;
}

menu {
  border-top: 0.1rem solid grey;
  margin: 2rem;
}

*::selection {
  background-color: ghostwhite;
}

nav li {
  display: inline-block;
  margin: 0.5rem;
}

li {
  list-style-type: square;
}

footer {
  text-align: center;
}

/*---------------------------------------------------------------------*/
/* Specific Stylings */
/*---------------------------------------------------------------------*/
.button-linkedin {
  background-color: deepskyblue;
  color: white;
  opacity: 0.8;
  position: fixed;
  top: 1rem;
  right: 4rem;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-linkedin img {
  width: 100%;
  object-fit: cover;
}

.button-linkedin img:nth-child(2) {
  display: none;
}

.button-linkedin img:hover {
  display: none;
}

.button-linkedin img:hover + img {
  display: block;
}

.button-github {
  background-color: black;
  color: white;
  opacity: 0.8;
  position: fixed;
  top: 6.3rem;
  right: 4rem;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-github img {
  width: 100%;
  object-fit: cover;
}

.button-github img:nth-child(2) {
  display: none;
}

.button-github img:hover {
  display: none;
}

.button-github img:hover + img {
  display: block;
}

.header {
  padding: 48px 16px;
  padding-top: 72px;
  text-align: center;
  background-color: gainsboro;
  position: relative;
}

.profession {
  text-transform: uppercase;
}

.link {
  padding: 0.25rem 0.5rem;
  color: dimgrey;
}

.link:hover {
  color: indigo;
  background-color: gainsboro;
}
.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}
.main > * + * {
  margin-top: 2.2rem;
}
.main > * {
  padding-top: 0;
  padding-right: 1rem;
}

.main > *:first-child {
  border-top: none;
}

.article-heading {
  position: relative;
  left: -1rem;
}

.experience-heading {
  display: inline-block;
}

.skills-heading {
  display: inline-block;
}

.experience-subheading {
  color: dimgray;
}

/*----------------*/
/* ICONS */
/*----------------*/

.profession::after {
  content: "🇩🇪🇬🇧🏳️‍🌈";
}

.three-stars::before {
  content: "⭐⭐⭐";
}

.two-stars::before {
  content: "⭐⭐";
}

.one-star::before {
  content: "⭐";
}

.growth::before {
  content: "🌱";
}

.mailto::before {
  content: "📧";
}

.phone::before {
  content: "📞";
}

.discord::before {
  content: "🖥️";
}
