/*---------------------------------------------------------------------*/
/* General Stylings */
/*---------------------------------------------------------------------*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

h2 {
  color: var(--text-color-b);
  display: inline;
  padding-top: 0.2rem;
  padding-right: 1.5rem;
  padding-left: 1rem;
  padding-bottom: 0;
  background-color: thistle;
  border-top-right-radius: 3rem;
}

body {
  --background-color: white;
  --text-color: black;
  --text-color-b: black;
  --secondary-text-color: dimgrey;
  --selection-color: lemonchiffon;
  --link-hoverhit-color: rebeccapurple;
  --themed-color-a: thistle;
  --themed-color-b: #c4e4df;
  --color-linkedin: deepskyblue;

  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

menu {
  border-top: 0.1rem solid var(--text-color-b);
  display: inline-block;
  margin: 1rem;
}

*::selection {
  background-color: var(--selection-color);
}

a,
a:link,
a:active,
a:visited {
  color: var(--secondary-text-color);
}

a:hover {
  color: var(--link-hoverhit-color);
}

nav li {
  display: inline-block;
  margin-top: 1rem;
}

li {
  list-style-type: square;
}

footer {
  text-align: center;
}

/*---------------------------------------------------------------------*/
/* Media Queries */
/*---------------------------------------------------------------------*/

@media screen and (max-width: 900px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 600px) {
  .main > * + * {
    margin-top: 5rem;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --background-color: black;
    --text-color: ghostwhite;
    --text-color-b: black;
    --selection-color: mediumpurple;
  }
}

@media print {
  aside {
    display: none;
  }
}

@media print {
  aside {
    display: none;
  }
}

@media print {
  .navigation {
    display: none;
  }
}
/*---------------------------------------------------------------------*/
/* Specific Stylings */
/*---------------------------------------------------------------------*/

.header {
  padding: 0.2rem;
  padding-top: 4.5rem;
  margin-bottom: 4rem;
  text-align: center;
  background-image: linear-gradient(
    150deg,
    var(--themed-color-a) 20%,
    var(--themed-color-b) 20%,
    var(--themed-color-b) 91%,
    var(--themed-color-a) 10%
  );
  position: relative;
}

.heading-all {
  color: var(--text-color-b);
  font-size: 1rem;
  text-transform: uppercase;
}

.header-menu {
  padding-inline-start: 0;
  /* Keeps header menu properly centered. Kill, then Cascade user-stylesheet will add 40px padding. */
  color: var(--link-hoverhit-color);
}

.headline-root {
  font-size: 3.5em;
  font-family: "Advent Pro", sans-serif;
  color: black;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.heading-all:hover .headline-root,
.heading-all:focus-within .headline-root {
  color: rebeccapurple;
  text-shadow: -0.1rem -0.1rem black;
  transform: scale(1.5);
}

.underline-profile {
  border-top: 0.13rem solid var(--themed-color-a);
  margin-top: 0.2rem;
  position: relative;
  left: -1rem;
}

.underline-experience {
  border-top: 0.13rem solid var(--themed-color-a);
  margin-top: 0.2rem;
  position: relative;
  left: -1rem;
}

.underline-skills {
  border-top: 0.13rem solid var(--themed-color-a);
  margin-top: 0.2rem;
  position: relative;
  left: -1rem;
}

.underline-contact {
  border-top: 0.13rem solid var(--themed-color-a);
  margin-top: 0.2rem;
  position: relative;
  left: -1rem;
}

.profession {
  font-size: 1.5em;
}

.link {
  padding: 0.25rem 0.5rem;
  color: var(--text-color);
  transition: color 0.25s ease-in-out;
}

.link:hover {
  color: var(--link-hoverhit-color);
}

.link:focus {
  color: var(--color-linkedin);
}

.main {
  max-width: 90ch;
  margin: 0 auto;
  padding: 1rem;
}

.main > * + * {
  margin-top: 2.2rem;
}

.main > * {
  padding-top: 0;
  padding-right: 1rem;
}

.main > *:first-child {
  border-top: none;
}

.article-heading {
  position: relative;
  left: -1rem;
}

.experience-heading {
  display: inline-block;
}

.skills-heading {
  display: inline-block;
}

.experience-subheading {
  color: var(--secondary-text-color);
}

.footer {
  color: var(--text-color-b);
  padding: 0.7rem;
  background-image: linear-gradient(
    150deg,
    var(--themed-color-b) 10%,
    var(--themed-color-a) 10%,
    var(--themed-color-a) 90%
  );
}

/*----------------*/
/* ASIDE BUTTONS */
/*----------------*/

.button-linkedin {
  background-color: var(--color-linkedin);
  color: var(--background-color);
  opacity: 0.8;
  position: fixed;
  top: 6rem;
  right: 1.5rem;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-linkedin img {
  width: 100%;
  object-fit: cover;
}

.button-linkedin img:nth-child(2) {
  display: none;
}

.button-linkedin img:hover {
  display: none;
}

.button-linkedin img:hover + img {
  display: block;
}

.button-github {
  background-color: var(--text-color);
  color: var(--background-color);
  opacity: 0.8;
  position: fixed;
  top: 1rem;
  right: 1.5rem;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-github img {
  width: 100%;
  object-fit: cover;
}

.button-github img:nth-child(2) {
  display: none;
}

.button-github img:hover {
  display: none;
}

.button-github img:hover + img {
  display: block;
}

/*----------------*/
/* ICONS */
/*----------------*/

.profession::after {
  content: "🇩🇪🇬🇧🏳️‍🌈";
}

.three-stars::before {
  content: "⭐⭐⭐";
}

.two-stars::before {
  content: "⭐⭐";
}

.one-star::before {
  content: "⭐";
}

.growth::before {
  content: "🌱";
}

.mailto::before {
  content: "📧";
}

.phone::before {
  content: "📞";
}

.discord::before {
  content: "🖥️";
}
