/*---------------------------------------------------------------------*/
/* General Stylings */
/*---------------------------------------------------------------------*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Oswald", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-family: "Advent Pro", sans-serif;
}

h2 {
  border-bottom: 2px solid dimgrey;
  padding: 0.2em;
}

body {
  margin: 0;
}

*::selection {
  background-color: ghostwhite;
}

nav li {
  display: inline-block;
  margin: 10px;
}

li {
  list-style-type: square;
}

footer {
  text-align: center;
}

/*---------------------------------------------------------------------*/
/* Specific Stylings */
/*---------------------------------------------------------------------*/
.button {
  background-color: deepskyblue;
  color: white;
  opacity: 0.8;
  position: fixed;
  top: 40px;
  right: 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 48px 16px;
  padding-top: 72px;
  text-align: center;
  background-color: gainsboro;
  position: relative;
}

.profession {
  text-transform: uppercase;
}

.link {
  padding: 5px 10px;
  color: dimgrey;
}

.link:hover {
  color: indigo;
  background-color: gainsboro;
}
.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}
.main > * + * {
  margin-top: 48px;
}
.main > * {
  padding-top: 0;
  padding-right: 16px;
}

.main > *:first-child {
  border-top: none;
}

.article-heading {
  position: relative;
  left: -16px;
}

.experience-heading {
  display: inline-block;
}

.skills-heading {
  display: inline-block;
}

.experience-subheading {
  color: dimgray;
}

/*----------------*/
/* ICONS */
/*----------------*/

.profession::after {
  content: "🇩🇪🇬🇧🏳️‍🌈";
}

.three-stars::before {
  content: "⭐⭐⭐";
}

.two-stars::before {
  content: "⭐⭐";
}

.one-star::before {
  content: "⭐";
}

.growth::before {
  content: "🌱";
}

.mailto::before {
  content: "📧";
}

.phone::before {
  content: "📞";
}

.discord::before {
  content: "🖥️";
}
